<!DOCTYPE html>
<html>
<head>
	<title>	The Movie Fan App </title>
  <% include head %>
</head>
<body>
	<% include navbar %>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="single-movie-title">
					This page is under construction ...
				</h1>
			</div>
		</div>
	</div>
</body>
</html>