body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-right{
  margin-right: 10px;
}

.poster {
  aspect-ratio: 2 / 3; /* put this to keep the width:height proportion */
}

.poster img{
  aspect-ratio: 2 / 3; /* put this to keep the width:height proportion in the images as well */
  width: 90%;
  text-align: center;
  margin: 10px 5% 10px;
}

.user-profile img{
  width: 20%;
  text-align: center;
  margin: 10px 5% 10px;
  border-radius: 50%; /* keep the avatar image in a circle */
  border: 0.5px solid black;
}

.flex-form {
  display: flex;
  flex-direction: row;
}

#search-form input{
  margin: 8px 0px;
  padding: 5px;
}

.form-group select{
  min-width: 150px;
}

.single-movie-title, .overview-header{
  font-family: 'Metamorphous', cursive;
}

.overview-header{
  font-size: 20px;
  font-weight: bold;
}

.single-movie-overview{
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 24px;
  font-weight: normal;
}